*{
    text-align: center;
}
body{
    background-color: lavender;
}
header{
    background-color: mediumturquoise;
}
footer{
    margin-top: 30px;
}
h1{
    text-align: center;
    margin: 30px 15px 30px 50px;
    color: white;
}
.col-md-6{
    float:left;
}
button{
 background-color: mediumturquoise !important;
 color: white !important;
}
.main{
    margin-top:15%;
}